<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.DishMapper">
    <update id="update">
        update dish
        <set>
            <if test=" categoryId !=null">category_id=#{categoryId},</if>
            <if test=" image !=null ">image=#{image},</if>
            <if test=" name !=null and name!=''">name=#{name},</if>
            <if test=" price !=null ">price=#{price},</if>
            <if test=" status !=null ">status=#{status},</if>
            <if test=" updateTime !=null ">update_time=#{updateTime},</if>
            <if test=" updateUser !=null ">update_user=#{updateUser},</if>
        </set>
        where id = #{id}
    </update>
    <delete id="deleteByList">
        delete
        from dish
        where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="select" resultType="com.sky.vo.DishVO">
        select d.*, c.name as category_name
        from dish d
                 left join category c on d.category_id = c.id
        <where>
            <if test="name!=null and name!=''">d.name like concat('%', #{name}, '%')</if>
            <if test="status!=null ">  and d.status = #{status}</if>
            <if test="categoryId!=null ">  and c.id = #{categoryId}</if>
        </where>


    </select>
    <select id="findByIds" resultType="com.sky.entity.Dish">
        select *
        from dish
        where id in 
        <foreach collection="dishIds" item="dishId" open="(" separator="," close=")">
            #{dishId}
        </foreach>
    </select>
</mapper>